ai-inventory-check-automation.json
{
  "name": "Inventory Check Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "fa567c62-124d-4976-b2d3-bffb0f39dd6c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1SVEZiouu6sXx_VxW99ZSV8CGYhLIB47c-qis5C2GAHo",
          "mode": "list",
          "cachedResultName": "Inventory_Data_Sample",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SVEZiouu6sXx_VxW99ZSV8CGYhLIB47c-qis5C2GAHo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SVEZiouu6sXx_VxW99ZSV8CGYhLIB47c-qis5C2GAHo/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "b700f562-fbc4-4468-8066-ae9bca27db69",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tNDh9yet4hrfafEU",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "082e0c05-ca6b-44f5-b9f4-bee9a218526c",
              "leftValue": "={{ $json.Stock }}",
              "rightValue": "={{ $json.Threshold }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "ec9d819f-766d-4236-91ff-6c7552adb77b",
      "name": "Filter"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "id": "8a2776e6-70d8-4cce-b467-bdc17ba2fa09",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Act as a diligent, professional Inventory Control Assistant for a restaurant supplier.\nYour task is to generate and send one concise alert message to Gmail listing all items where stock is below the threshold.\n\nData:\n{{JSON.stringify($json)}}\n\nOutput format:\nStart with: \"⚠️ Low Stock Alert:\"\nThen list each item on a new line in this format:\n- [Item Name]: [Stock] left (need [Threshold]). Recommend reordering from [Supplier] to maintain adequate stock levels.\n\nRules:\n- If stock is 0, say \"Out of stock\" instead of \"[Stock] left\".\n- Do not add summaries, explanations, or closing sentences.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        832,
        0
      ],
      "id": "1f93a1c0-2db5-481c-bf12-360f3bd9907d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $execution.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        848,
        208
      ],
      "id": "90e81fb1-57eb-41e8-97b6-fc33707ae2f9",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "sendTo": "riripatel28@gmail.com",
        "subject": "Low Stock Alert",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        992,
        208
      ],
      "id": "4d38c55e-afc8-4ac2-a9c1-5d98bf8e1ba9",
      "name": "Send a message in Gmail",
      "webhookId": "79d09dd9-667d-4275-a28d-ba48f7b67a35",
      "credentials": {
        "gmailOAuth2": {
          "id": "56gpkmyVHu2fhx4H",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        704,
        192
      ],
      "id": "b1cf1911-b24d-4692-9fbf-912cdb6a26fc",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "UfhgUvY020kOL5fQ",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "283244c6-d9bd-4dc4-a6db-f29d43139caf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7af38de30bb335ccbd898c9f49d8e330c54f3f539cb79d146a7c68ae3c1a5e03"
  },
  "id": "fuCIJ50ZFHQ2JZKK",
  "tags": []
}